<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Website</title>
	<link rel="stylesheet" href="../assets/style.css">
</head>
<body>
	<% include ../public/nav.ejs %>
	<h1>这是一个web前端网站</h1>
	<p>你好!!!!!</p>
</body>
</html>